node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.vscode
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# 配置文件
src/lib/config.ts

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
